{% extends 'base.html.twig' %}

{% block title %}New Campaign{% endblock %}

{% block body %}
    <h1>Ajouter une campagne</h1>

    {{ include('campaign/_form.html.twig') }}

    <a href="{{ path('app_home') }}">back to list</a>
{% endblock %}
